<app-search></app-search>
<app-tags></app-tags>
<app-not-found [visible]= "!foods || !foods.length"
notFoundMessage="Food You are loooking for is not available!" 
resetLinkText="Reset Search">
</app-not-found>
<div class="row">
    @for (food of foods; track food.id) {   
        <div class="col-lg-4 m ">   
    <div class="card justify-content-center bg-secondary" >  
        <div class="card-body bg-secondary">
        <img routerLink="/food/{{food.id}}" [src]="food.imageUrl" class="card-img-top" [alt]="food.name">
        <div class="card-body bg-secondary"> 
          <h5 class="card-title">{{food.name}} ❤️</h5>
          <p class="card-text"></p>
          <a href="#" routerLink="/food/{{food.id}}" class="btn btn-warning-subtle active">Details</a>
        </div>
        </div>
        <ul class="list-group list-group-flush bg-secondary"> 
            <li class="list-group-item bg-info-subtle"><b>🔰  </b>{{food.tags}}</li>
            <li class="list-group-item "><b>💲  </b>{{food.price}}</li>
            <li class="list-group-item bg-info-subtle"><b>⏱ </b>{{food.cookTime}} min</li>
            <li class="list-group-item "><b>🌍 </b>{{food.origins}}</li>
          </ul>
      </div>    
      </div>
    }
    </div>  




