
<app-not-found
[visible]="!food"
notFoundMessage="Not available at this time!"
resetLinkText="Food Page"
></app-not-found>
@if (food) {
<div class="card text-center bg-secondary bg-gradient">
    <div class="card-header bg-success">
      
    </div>
    <div class="card-body" style="width: 18rem; margin:auto">
        <img routerLink="/food/{{food.id}}" [src]="food.imageUrl" class="card-img-top" style="border-radius: 20%" [alt]="food.name">
      <h5 class="card-title">{{food.name}} ❤️</h5>
      <p class="card-text">💲 {{food.price}}</p>
      <a routerLink="/cart-page/{{food.id}}" (click)="addToCart()" class="btn btn-success active">Add to cart 🛒</a>
    </div>
    <div class="card-footer text-muted bg-success-subtle">
        <b>🔰  </b>{{food.tags}}   <br>
    Your food will be served in <b>{{food.cookTime}}</b> minutes.
    </div>
  </div>
}

